node-red-flow/automatic-update.json
[
    {
        "id": "61c16fe7.def758",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "82941cb0.0ebd68",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed8abbcd.098318",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ec723ee8.bf683",
        "type": "ui_group",
        "name": "User",
        "tab": "82941cb0.0ebd68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f0ee50bd.7c28c8",
        "type": "ui_group",
        "name": "Table",
        "tab": "82941cb0.0ebd68",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1b11140.4e4ef",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "Hello Node-RED!",
        "payloadType": "string",
        "x": 141,
        "y": 61,
        "wires": [
            [
                "f2f2649a.0d0d98"
            ]
        ]
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "61c16fe7.def758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "a08a43b9.0358e8",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "data input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":{\"firstname\":\"Thomas\",\"lastname\":\"Suedbroecker\",\"country\":\"Germany\"}}",
        "payloadType": "json",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "d3a771fa.776c58"
            ]
        ]
    },
    {
        "id": "d3a771fa.776c58",
        "type": "cloudant out",
        "z": "61c16fe7.def758",
        "name": "",
        "cloudant": "",
        "database": "absolute-beginner",
        "service": "node-red-example-cloudant-1610885358891-55106",
        "payonly": true,
        "operation": "insert",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "b63a303.6a3eed",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "b7799190.229908"
            ]
        ]
    },
    {
        "id": "b7799190.229908",
        "type": "cloudant in",
        "z": "61c16fe7.def758",
        "name": "",
        "cloudant": "",
        "database": "absolute-beginner",
        "service": "node-red-example-cloudant-1610885358891-55106",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "e359f079.3a9d7"
            ]
        ]
    },
    {
        "id": "20783e08.6e40ea",
        "type": "debug",
        "z": "61c16fe7.def758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "90c0ae3.898d35",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "search Firstname",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"theFirstname\":\"T*\",\"limit\":\"200\"}",
        "payloadType": "json",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "9c9de9a1.707af8"
            ]
        ]
    },
    {
        "id": "7f1af07d.c9d468",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "search Lastname",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"theLastname\":\"S*\", \"limit\": \"200\" }",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "9c9de9a1.707af8"
            ]
        ]
    },
    {
        "id": "e6211025.598b7",
        "type": "inject",
        "z": "61c16fe7.def758",
        "name": "search Country",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"theCountry\":\"G*\", \"limit\": \"200\" }",
        "payloadType": "json",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "9c9de9a1.707af8"
            ]
        ]
    },
    {
        "id": "9c9de9a1.707af8",
        "type": "cloudant in",
        "z": "61c16fe7.def758",
        "name": "",
        "cloudant": "",
        "database": "absolute-beginner",
        "service": "node-red-example-cloudant-1610885358891-55106",
        "search": "_idx_",
        "design": "_d_searchindex",
        "index": "_searchindex",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "e359f079.3a9d7"
            ]
        ]
    },
    {
        "id": "73d7fcf6.69a764",
        "type": "ui_form",
        "z": "61c16fe7.def758",
        "name": "",
        "label": "Insert a new User",
        "group": "ec723ee8.bf683",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Firstname",
                "value": "firstname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Lastname",
                "value": "lastname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "country",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "firstname": "",
            "lastname": "",
            "country": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "msg.payload.user",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "a15e804f.afb218"
            ]
        ]
    },
    {
        "id": "a15e804f.afb218",
        "type": "function",
        "z": "61c16fe7.def758",
        "name": "",
        "func": "var data = {};\ndata.user = msg.payload;\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "f128a1e.063696",
                "d3a771fa.776c58",
                "b7799190.229908"
            ]
        ]
    },
    {
        "id": "f128a1e.063696",
        "type": "debug",
        "z": "61c16fe7.def758",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "e359f079.3a9d7",
        "type": "function",
        "z": "61c16fe7.def758",
        "name": "",
        "func": "if (msg.payload.errors !== undefined ){\n    if (msg.payload.errors[0] !== undefined ){\n        // do nothing\n    }\n} else {\n    var userstemp  = [];\n    userstemp = msg.payload;\n    \n    var users = [];\n    count =  userstemp.length;\n    \n    var user = {};\n    for (var i=0; i<count; i++){\n        \n       if( userstemp[i] !== undefined) {\n         user.firstname = userstemp[i].user.firstname;\n         user.lastname = userstemp[i].user.lastname;\n         user.country = userstemp[i].user.country;\n         users.push(user);\n         user = {};\n       } else {\n           i = count;\n       }\n    }\n    \n    msg.payload = users;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "20783e08.6e40ea",
                "93e15a2.f25f0a8"
            ]
        ]
    },
    {
        "id": "93e15a2.f25f0a8",
        "type": "ui_table",
        "z": "61c16fe7.def758",
        "group": "f0ee50bd.7c28c8",
        "name": "Users",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "firstname",
                "title": "Firstname",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "lastname",
                "title": "Lastname",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "country",
                "title": "Country",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 800,
        "y": 360,
        "wires": []
    }
]